@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:200,300italic,400,400italic,600,600italic,700,700italic);
@font-face {
  font-family: 'Chinese';
  unicode-range: #{"U+4E00-9FFF"};
  src: local(Noto Sans T Chinese), local(Lantinghei TC), local('微軟正黑體');
}

@import "backsite/modules/mixins";
@import "libary/bootstrap/mixins";
@import "libary/bootstrap/utilities";
@import "libary/bootstrap/normalize";

// 顏色、字型大小...blah 設定
@import "frontsite/modules/setting";
@import "frontsite/modules/type";
@import "frontsite/modules/grid";
@import "frontsite/modules/icons";

// body base setting
@import "frontsite/unit/general";
@import "frontsite/unit/nav";
@import "frontsite/unit/footer";

// Plugin
@import "plugin/perfect-scrollbar";