@import "libary/bootstrap/variables";
@import "libary/bootstrap/mixins";
@import "backsite/modules/variables";
.main-category {
  .btn-toolbar {
    margin-bottom: 15px;
    .created-new {
      width: 250px;
    }
  }
  .category-list {
    margin: 0;
    padding: 0;
    list-style: none;
    .list-item {
      position: relative;
      &.has-sort {
        padding-left: 2em;
      }
      .list-group-sort-item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 2em;
        margin-bottom: 0;
        color: $grey;
        cursor: ns-resize;
        &:hover {
          color: darken($grey, 30%);
        }
        & > i {
          display: block;
          position: absolute;
          top: 50%;
          width: 100%;
          margin-top: -15px;
          font-size: 0.67em;
          text-align: center;
          cursor: ns-resize;
        }
      }
      .list-group-item-heading {
        line-height: 2;
      }
      .list-group-item-text {
        padding-top: 0.5em;
        border-top: 1px dotted lighten($grey, 2%);
        color: darken($grey, 20%);
        font-weight: 300;
      }
      &.editing {
      }
      .fa, .glyphicon {
        line-height: 2.5;
        cursor: pointer;
      }
    }
  }
}
