.modal-backdrop {
  background-color: #33363d; }
  .modal-backdrop.in {
    opacity: 0.9;
    filter: alpha(opacity=90); }

.file-manage .modal-dialog {
  width: 90%; }

.modal-content .modal-header {
  color: #fff;
  border-bottom: none;
  background-color: #4a4f59;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px; }
  .modal-content .modal-header .modal-title {
    margin-right: 15px;
    line-height: 30px; }
  .modal-content .modal-header .modal-tab {
    margin: -15px 0;
    line-height: 32px;
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3; }
    .modal-content .modal-header .modal-tab li {
      float: left;
      padding: 1em 1.5em;
      border-left: 1px solid #616775;
      cursor: pointer; }
      .modal-content .modal-header .modal-tab li:before, .modal-content .modal-header .modal-tab li:after {
        content: " ";
        display: table; }
      .modal-content .modal-header .modal-tab li:after {
        clear: both; }
      .modal-content .modal-header .modal-tab li.active, .modal-content .modal-header .modal-tab li:hover {
        background-color: #83cbad; }
      .modal-content .modal-header .modal-tab li i {
        float: left;
        margin: 6px 0 4px;
        font-size: 1.6em; }
  .modal-content .modal-header .modal-search {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .modal-content .modal-body {
    min-height: 400px;
    max-height: 550px;
    padding: 15px 15px 0;
    overflow-y: auto;
    overflow-x: hidden; }
  .modal-content .modal-body .upload .drop-zone {
    position: relative;
    display: block;
    overflow: hidden; }
    .modal-content .modal-body .upload .drop-zone.drop-over .well {
      border-color: #7ebee7; }
    .modal-content .modal-body .upload .drop-zone input[type="file"] {
      position: absolute;
      top: -100%;
      left: -100%;
      visibility: hidden; }
    .modal-content .modal-body .upload .file-list .file-list-header li {
      width: 20%;
      padding: 5px 8px;
      float: left;
      border-bottom: 2px solid #959ba7; }
  .modal-content .modal-body .folder {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .modal-content .modal-body .folder .file-group {
      max-height: 520px;
      overflow: auto;
      padding-right: 8px;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .modal-content .modal-body .folder .file-group table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 10px; }
    .modal-content .modal-body .folder .file-group .file-content {
      width: 1%;
      padding: 0.7em;
      text-align: center;
      vertical-align: middle;
      background-color: #e9eaec;
      cursor: pointer; }
      .modal-content .modal-body .folder .file-group .file-content.active {
        background-color: #7ebee7; }
      .modal-content .modal-body .folder .file-group .file-content img {
        width: 100%;
        height: auto; }
      @media (max-width: 992px) {
      .modal-content .modal-body .folder .file-group .file-content {
        padding: 0.5em; } }
      @media (max-width: 768px) {
      .modal-content .modal-body .folder .file-group .file-content {
        padding: 5px; } }
      @media (max-width: 480px) {
      .modal-content .modal-body .folder .file-group .file-content img {
        width: auto;
        height: 100px; } }
    .modal-content .modal-body .folder .preview {
      position: relative;
      width: 20%;
      padding-right: 10px;
      padding-left: 7px; }
    .modal-content .modal-body .folder .preview .preview-content {
      text-align: center; }
      .modal-content .modal-body .folder .preview .preview-content .img-thumbnail {
        min-height: 200px;
        max-height: 250px; }
      .modal-content .modal-body .folder .preview .preview-content .fa {
        font-size: 8em; }
    .modal-content .modal-body .folder .preview .insert {
      position: absolute;
      right: 0;
      bottom: 15px;
      left: 0;
      text-align: center; }
    @media (max-width: 768px) {
      .modal-content .modal-body .folder .preview {
        width: 33.333%; } }
    @media (max-width: 480px) {
      .modal-content .modal-body .folder .preview {
        display: none; } }
  .modal-content .modal-footer {
    margin-top: 0; }
