@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "nyfm/variables";
@import "nyfm/mixins";

.modal-backdrop {
  background-color: darken($gray-darker, 10%);
  &.in {
    @include opacity(0.9);
  }
}
.file-manage {
  .modal-dialog {
    width: 90%;
  }
}
.modal-content {
  .modal-header {
    color: #FFF;
    border-bottom: none;
    background-color: $gray-darker;
    @include flexbox();
    @include border-top-radius(6px);
    .modal-title {
      margin-right: 15px;
      line-height: 30px;
    }
    .modal-tab {
      margin: -15px 0;
      line-height: 32px;
      @include flex(3);
      li {
        float: left;
        padding: 1em 1.5em;
        border-left: 1px solid $gray-dark;
        cursor: pointer;
        @include clearfix();
        &.active,
        &:hover {
          background-color: $brand-mint;
        }
        i {
          float: left;
          margin: 6px 0 4px;
          font-size: 1.6em;
        }
      }
    }
    .modal-search {
      @include flex(1);
    }
  }
  .modal-body {
    min-height: 400px;
    max-height: 550px;
    padding: 30px 15px 0;
    overflow-y: auto;
    overflow-x: hidden;
    .folder {
      @include flexbox();
      .file-group {
        max-height: 520px;
        overflow: auto;
        padding-right: 8px;
        @include flex(1);
        table {
          width: 100%;
          border-collapse: separate;
          border-spacing: 10px;
        }
        .file-content {
          width: 1%;
          padding: 1em;
          text-align: center;
          vertical-align: middle;
          background-color: lighten($gray-lighter, 20%);
          img {
            @include size(100%, auto);
          }
          @media (max-width: $screen-md-min) {
            padding: 0.5em;
          }
          @media (max-width: $screen-sm-min) {
            padding: 5px;
          }
          @media (max-width: $screen-xs-min) {
            img {
              @include size(auto, 100px);
            }
          }
        }
      }
      .preview {
        width: 20%;
        padding-right: 10px;
        padding-left: 7px;
        .preview-inner {
        }
        img {
          width: 100%;
        }
        @media (max-width: $screen-sm-min) {
          width: 33.333%;
        }
        @media (max-width: $screen-xs-min) {
          display: none;
        }
      } 
    }
    .upload {
      @include flexbox();
      .queue {
        @include flex(1);
      }
      .drop-zone {
        width: 20%;
        .over-zone {
          #file-select {
            @include opacity(0);
          }
        }
        @media (max-width: $screen-sm-min) {
          width: 33.333%;
        }
      }
    }
  }
  .modal-footer {
    margin-top: 0;
  }
}
// .animate-switch.ng-animate {
//   -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
//   transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
// }

// .animate-switch.ng-leave.ng-leave-active,
// .animate-switch.ng-enter {
//   @include opacity(0);
// }
// .animate-switch.ng-leave,
// .animate-switch.ng-enter.ng-enter-active {
//   @include opacity(1);
// }