.check:before, .modal-content .modal-body .folder .file-group .file-content.use:before, .modal-content .modal-body .folder .file-group .file-content.active:before {
  content: "\f058";
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  height: 30px;
  width: 30px;
  display: block;
  border-radius: 50%;
  background-color: #fff;
  line-height: 32px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.modal-backdrop {
  background-color: #33363d; }
  .modal-backdrop.in {
    opacity: 0.9;
    filter: alpha(opacity=90); }

.file-manage .modal-dialog {
  width: 90%; }

.modal-content .modal-header {
  color: #fff;
  border-bottom: none;
  background-color: #4a4f59;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px; }
  .modal-content .modal-header .modal-title {
    margin-right: 15px;
    line-height: 30px; }
  .modal-content .modal-header .modal-tab {
    margin: -15px 0;
    line-height: 32px;
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3; }
    .modal-content .modal-header .modal-tab li {
      float: left;
      padding: 1em 1.5em;
      border-left: 1px solid #616775;
      cursor: pointer; }
      .modal-content .modal-header .modal-tab li:before, .modal-content .modal-header .modal-tab li:after {
        content: " ";
        display: table; }
      .modal-content .modal-header .modal-tab li:after {
        clear: both; }
      .modal-content .modal-header .modal-tab li.active, .modal-content .modal-header .modal-tab li:hover {
        background-color: #83cbad; }
      .modal-content .modal-header .modal-tab li i {
        float: left;
        margin: 6px 0 4px;
        font-size: 1.6em; }
  .modal-content .modal-header .modal-search {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .modal-content .modal-body {
    min-height: 400px;
    max-height: 550px;
    padding: 15px 15px 0;
    overflow-y: auto;
    overflow-x: hidden; }
  .modal-content .modal-body .upload .drop-zone {
    position: relative;
    display: block;
    overflow: hidden;
    cursor: pointer; }
    .modal-content .modal-body .upload .drop-zone.drop-over .well {
      border-color: #7ebee7; }
    .modal-content .modal-body .upload .drop-zone input[type="file"] {
      position: absolute;
      top: -100%;
      left: -100%;
      visibility: hidden; }
    @media (max-width: 992px) {
      .modal-content .modal-body .upload .upload-control {
        margin-bottom: 1em; } }
    .modal-content .modal-body .upload .file-list .file-list-header li {
      padding: 5px 8px;
      float: left;
      border-bottom: 2px solid #959ba7; }
      .modal-content .modal-body .upload .file-list .file-list-header li:nth-child(1) {
        width: 10%; }
      .modal-content .modal-body .upload .file-list .file-list-header li:nth-child(2) {
        width: 15%; }
      .modal-content .modal-body .upload .file-list .file-list-header li:nth-child(3) {
        width: 10%; }
      .modal-content .modal-body .upload .file-list .file-list-header li:nth-child(4) {
        width: 35%; }
      .modal-content .modal-body .upload .file-list .file-list-header li:nth-child(5) {
        width: 10%; }
      .modal-content .modal-body .upload .file-list .file-list-header li:nth-child(6) {
        width: 20%; }
    .modal-content .modal-body .upload .file-list .file-list-body {
      overflow: auto;
      width: 100%;
      height: 300px; }
      @media (max-width: 992px) {
      .modal-content .modal-body .upload .file-list .file-list-body {
        width: 100%;
        height: 221px; } }
      .modal-content .modal-body .upload .file-list .file-list-body .file-list-item {
        padding: 0.5em 0; }
      .modal-content .modal-body .upload .file-list .file-list-body .file-list-item + .file-list-item {
        border-top: 1px dotted #b1b5be; }
      .modal-content .modal-body .upload .file-list .file-list-body .file-list-item > div {
        padding: 5px 8px;
        float: left; }
        .modal-content .modal-body .upload .file-list .file-list-body .file-list-item > div:nth-child(1) {
          width: 10%; }
          .modal-content .modal-body .upload .file-list .file-list-body .file-list-item > div:nth-child(1) > div {
            height: 50px; }
        .modal-content .modal-body .upload .file-list .file-list-body .file-list-item > div:nth-child(2) {
          width: 15%; }
          .modal-content .modal-body .upload .file-list .file-list-body .file-list-item > div:nth-child(2) strong {
            display: block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
        .modal-content .modal-body .upload .file-list .file-list-body .file-list-item > div:nth-child(3) {
          width: 10%; }
        .modal-content .modal-body .upload .file-list .file-list-body .file-list-item > div:nth-child(4) {
          width: 35%; }
        .modal-content .modal-body .upload .file-list .file-list-body .file-list-item > div:nth-child(5) {
          width: 10%; }
        .modal-content .modal-body .upload .file-list .file-list-body .file-list-item > div:nth-child(6) {
          width: 20%; }
    .modal-content .modal-body .upload .file-list .file-list-queue {
      display: block;
      margin: 1em 0; }
  .modal-content .modal-body .folder {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .modal-content .modal-body .folder .file-group {
      position: relative;
      max-height: 520px;
      overflow: auto;
      padding-right: 8px;
      padding-bottom: 16px;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .modal-content .modal-body .folder .file-group .file-content {
      padding: 0.5em; }
      .modal-content .modal-body .folder .file-group .file-content .file-thumbnail {
        cursor: pointer;
        width: 100%;
        height: auto; }
      .modal-content .modal-body .folder .file-group .file-content .file-name {
        position: absolute;
        right: 0.5em;
        bottom: 0.5em;
        left: 0.5em;
        margin: 0;
        padding: 8px 5px;
        color: #fff;
        background-color: rgba(69, 74, 84, .7); }
      .modal-content .modal-body .folder .file-group .file-content .file-name .fa {
        float: right;
        margin-top: 0.5em;
        cursor: pointer; }
      .modal-content .modal-body .folder .file-group .file-content .file-name span {
        display: inline-block;
        width: calc(100% - 1.58571em);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .modal-content .modal-body .folder .file-group .file-content.use {
        background-color: #7ebee7; }
      .modal-content .modal-body .folder .file-group .file-content.use:before {
        color: #7ebee7; }
      .modal-content .modal-body .folder .file-group .file-content.active {
        background-color: #b1d16d; }
      .modal-content .modal-body .folder .file-group .file-content.active:before {
        color: #b1d16d; }
      .modal-content .modal-body .folder .file-group .file-content.col-1 {
        width: 100%; }
      .modal-content .modal-body .folder .file-group .file-content.col-2 {
        width: 50%; }
      .modal-content .modal-body .folder .file-group .file-content.col-2.landscape {
        width: 100%; }
      .modal-content .modal-body .folder .file-group .file-content.col-3 {
        width: 33.33333%; }
      .modal-content .modal-body .folder .file-group .file-content.col-3.landscape {
        width: 66.66667%; }
      .modal-content .modal-body .folder .file-group .file-content.col-4 {
        width: 25%; }
      .modal-content .modal-body .folder .file-group .file-content.col-4.landscape {
        width: 50%; }
      .modal-content .modal-body .folder .file-group .file-content.col-5 {
        width: 20%; }
      .modal-content .modal-body .folder .file-group .file-content.col-5.landscape {
        width: 40%; }
      .modal-content .modal-body .folder .file-group .file-content.col-8 {
        width: 12.5%; }
      .modal-content .modal-body .folder .file-group .file-content.col-8.landscape {
        width: 25%; }
    .modal-content .modal-body .folder .preview {
      position: relative;
      width: 20%;
      max-height: 520px;
      padding-bottom: 16px;
      overflow: auto;
      padding-right: 10px;
      padding-left: 7px; }
    .modal-content .modal-body .folder .preview .preview-content {
      text-align: center; }
      .modal-content .modal-body .folder .preview .preview-content .fa {
        font-size: 8em; }
    .modal-content .modal-body .folder .preview .insert {
      position: absolute;
      right: 0;
      bottom: 15px;
      left: 0;
      text-align: center; }
    @media (max-width: 768px) {
      .modal-content .modal-body .folder .preview {
        width: 33.333%; } }
    @media (max-width: 480px) {
      .modal-content .modal-body .folder .preview {
        display: none; } }
  .modal-content .modal-footer {
    margin-top: 0; }
