@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "nyfm/variables";
.main-form {
  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
  .panel-heading {
    label {
      margin-bottom: 0;
    }
  }
  .panel-body {
    .form-group {
      .control-label {
        padding-left: 0;
        padding-top: 0;
        text-align: left;
        font-weight: 400;
        margin-bottom: 5px;
      }
      .switch {
        float: right;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}