@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "nyfm/variables";
.main-list {
  .table-action {
    margin-bottom: 15px;
  }
  thead {
    background-color: #a7aeb9;
    color: lighten(#a7aeb9, 20%);
    th {
      font-weight: 400;
      &:last-child {
        width: 3rem;
      }
      &.list-check {
        width: 2rem;
      }
      &.list-date {
        width: 8rem;
        cursor: pointer;
      }
      &.list-image {
        width: 200px;
      }
      &.list-disabled {
        white-space: nowrap;
      }
      &.list-title {
        cursor: pointer;
      }
      &.hit {
        color: $white;
        font-weight: 700;
      }
    }
    .fa-square-o {
      &.active {
        &:before {
          content: "\f046";
        }
      }
    }
  }
  tbody {
    tr{
      &.active {
        .fa-square-o {
          &:before {
            content: "\f046";
          }
        }
      }
      &.disabled {
        td {
          background-color: lighten($grey, 8%);
          color: $gray-light;
          a {
            color: $gray-light;
          }
        }
      }
    }
    td {
      &:nth-of-type(2) {
        white-space: nowrap;
      }
    }
  }
  label {
    &.checked {
      position: relative;
      margin-bottom: 0;
      i {
        position: relative;
        cursor: pointer;
      }
      input {
        &[type="checkbox"] {
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          margin-top: 0;
          width: 100%;
          height: 100%;
          visibility: hidden;
        }
      }
    }
  }
}