<div class="foreword">
  <h2 data-lorem="1s"></h2>
  <p data-lorem="1p"></p>
</div>
<div class="with-image sm">
  <h2 data-lorem="1s"></h2>
  <div class="image">
    <img src="/app/assets/images/frontend/no-photo.png">
    <span class="img-comment" data-lorem="2s"></span>
  </div>
  <p data-lorem="1p"></p>
</div>
<div class="with-image lg">
  <h2 data-lorem="1s"></h2>
  <div class="image">
    <img src="/app/assets/images/frontend/no-photo.png">
    <span class="img-comment" data-lorem="2s"></span>
  </div>
  <p data-lorem="1p"></p>
</div>
<div class="fill-image">
  <div class="image">
    <img src="/app/assets/images/frontend/no-photo.png">
    <span class="img-comment" data-lorem="2s"></span>
  </div>
</div>
<div class="part">
  <h3 data-lorem="1s"></h3>
  <p data-lorem="1p"></p>
</div>