<div class="with-image sm">
  <h2>Duis convallis convallis tellus id interdum velit.</h2>
  <div class="image">
    <img src="/app/assets/images/frontend/no-photo.png">
    <span class="img-comment">Eget sit amet tellus cras adipiscing enim eu. Dui faucibus in ornare quam viverra orci.</span>
  </div>
  <p>Mauris augue neque gravida in. Mauris augue neque gravida in fermentum et sollicitudin ac. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Et ligula ullamcorper malesuada proin libero nunc. Purus in mollis nunc sed id. Egestas congue quisque egestas diam in arcu cursus euismod. Nec nam aliquam sem et tortor consequat id porta. Turpis tincidunt id aliquet risus feugiat in ante metus. Ut sem viverra aliquet eget sit amet tellus cras. Volutpat diam ut venenatis tellus in metus vulputate. Aliquet nibh praesent tristique magna sit amet.</p>
</div>