// Color
$white:                 #fff !default;
$green:                 #b1d16d !default;
$grey:                  #dedede !default;
$red:                   #d06367 !default;
$mainSidebarBgc:        #454a54 !default;

// Dimension
$mainSidebarWidth:			190px !default;
$mainSidebarMinWidth:		43px !default;
$menuTextWidth:		      200px !default;
$topBarHeight:				  35px !default;