footer {
	font-size: .75em;
  .footer-top {
    padding: 0 32px;
    line-height: 73px;
    border-bottom: 1px solid nth($grays, 5);
    @extend .clearfix;
    a {
      color: nth($grays, 2);
      &:hover {
        color: $brand-primary;
      }
    }
    .footer-nav {
      float: left;
      margin: 0;
      padding: 0;
      @extend .clearfix;
      li {
        float: left;
        display: inline-block;
        padding-right: 12px;
        & + li {
          padding-left: 12px;
        }
        &:last-child {
          padding-right: 24px;
        }
        @media screen and (max-width: $screen-tablet-max) {
          padding-left: 0 !important;
          padding-right: 24px;
        }
      }
    }
    .address {
      float: right;
      margin-right: 32px;
      font-style: normal;
    }
    .telphone {
      float: right;
    }
    @media screen and (max-width: 874px) {
      padding: 25px 32px;
      line-height: 24px;
      .footer-nav {
        display: block;
        float: none;
      }
      .address {
        float: left;
      }
      .telphone {
        float: none;
      }
    }
    @media screen and (max-width: $screen-phone) {
      padding: 1.33em;
      font-size: 1.2em;
      line-height: $navigationSidebar;
      text-align: center;
      .footer-nav {
        li {
          width: 50%;
          padding-right: 0;
          &:last-child {
            padding-right: 0;
          }
          a {
            display: block;
          }
        }
      }
      .address {
        float: none;
        margin-right: 0;
      }
    }
    .collapse & {
      @media screen and (min-width: 629px) and (max-width: 874px) {
        .footer-nav {
          float: left;
        }
        .address {
          float: right;
        }
        .telphone {
          float: right;
        }
      }
    }
  }
  .footer-bottom {
    padding: 0 0 0 32px;
    line-height: $navigationSidebar;
    @include clearfix();
    .copyright {
      float: left;
    }
    .go-top {
      display: block;
      float: right;
      border-left: 1px solid nth($grays, 5);
      font-size: 1.33em;
      text-align: center;
      cursor: pointer;
      @include square($navigationSidebar, $navigationSidebar);
    }
    @media screen and (max-width: $screen-phone) {
      padding: 0;
      line-height: $navigationSidebar / 2;
      text-align: center;
      .copyright {
        display: inline-block;
        float: none;
        padding: 1.33em;
      }
      .go-top {
        float: none;
        border-top: 1px solid nth($grays, 5);
        border-left: none;
        line-height: $navigationSidebar;
        @include size(100%, $navigationSidebar);
      }
    }
  }
}