.overlay-set {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: $navigationWidth;
  background-color: nth($grays, 1);
  z-index: 0;
  @include opacity(.8);
  &.mune-sub-close {
    left: $navigationSidebar;
  }
}
#navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $navigationSidebar;
  z-index: 2;
  .nav-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: $navigationSidebar;
    padding-top: $navigationPaddingTop;
    background-color: nth($grays, 2);
    z-index: 2;
    @media screen and (max-width: $screen-phone) {
      padding-top: $navigationPaddingTopS;
    }
    .nav-collapse {
      position: absolute;
      top: 0;
      line-height: $navigationSidebar;
      color: $white;
      text-align: center;
      cursor: pointer;
      @include square($navigationSidebar);
      @media screen and (max-width: $screen-phone) {
        display: none;
      }
    }
    .small-logo {
      display: none;
      position: absolute;
      top: 0;
      margin: 0;
      img {
        @include size(48px, 120px);
      }
      @media screen and (max-width: $screen-phone) {
        display: block;
      }
    }
    .nav-bar-menu {
      margin: 0;
      .nav-bar-item {
        color: $white;
        .icon {
          display: block;
          text-align: center;
          line-height: $navigationSidebar;
          @include square($navigationSidebar);
        }
        a {
          color: $white;
        }
        &:hover,
        &.hover,
        &.pageon,
        &.active {
          .icon {
            background-color: nth($aqua, 1);
          }
        }
        &.search {
          .search-trigger {
            margin: 0;
            cursor: pointer;
          }
        }
      }
    }
  }
  .nav-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: $navigationSidebar;
    width: $navigationWidth;
    padding-top: $navigationPaddingTop;
    background-color: $white;
    border-right: 1px solid nth($grays, 5);
    z-index: 1;
    @include transition(left 0.4s ease-in-out);
    .site-name {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin-top: 2.5em;
      text-align: center;
      a {
        display: block;
        height: 140px;
      }
      @media screen and (max-width: $screen-phone) {
        margin-top: 0.5em;
        a {
          height: 120px;
          img {
            @include size(auto, 90%);
          }
        }
      }
    }
    .mune-list {
      position: relative;
      margin: 0;
      z-index: 2;
    }
    .mune-item {
      .mune-title {
        position: relative;
        height: 2.67em;
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 2.67em;
        text-align: center;
        color: nth($grays, 3);
        a {
          display: block;
          color: nth($grays, 3);
        }
        .search-trigger {
          cursor: pointer;
        }
      }
      .zh {
        display: none;
      }
      &:hover,
      &.hover,
      &.pageon,
      &.active {
        .mune-title {
          background-color: nth($grays, 6);
        }
        .en {
          display: none;
        }
        .zh {
          display: block;
        }
      }
      &.search {
        position: relative;
        .mune-title {
          z-index: 1;
        }
        .search-box {
          display: none;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 100%;
          width: 400px;
          background-color: nth($grays, 6);
          input[type="text"] {
            display: inline-block;
            width: $navigationWidth + $navigationSidebar !important;
            height: 48px !important;
            margin: 0 !important;
            padding: 5px 8px !important;
            font-size: 18px;
            border-style: solid !important;
            border-color: nth($grays, 5) !important;
            border-width: 1px 1px 1px 0 !important;
            color: nth($grays, 3);
            background-color: nth($grays, 6) !important;
            background-image: none !important;
            outline: none;
          }
          button {
            position: absolute;
            top: 0;
            right: 0;
            border: 0;
            color: $white;
            font-weight: 700;
            line-height: 46px;
            background-color: $brand-primary;
            outline: none;
            @include size(100px, 48px);
          }
          // Google seach CSS START
          .gsc-search-box {
            margin-bottom: 0;
            .gsc-input {
              padding-right: 0;
            }
            input.gsc-input,
            .gsc-input-box,
            .gsc-input-box-hover,
            .gsc-input-box-focus {
              border: none;
            }
            .gsc-input-box {
              background: transparent;
              height: 100%;
            }
            .gsib_a {
              padding: 0;
            }
            .gsib_b {
              display: none;
            }
            td.gsc-search-button {
              position: relative;
              width: 100px;
              text-align: center;
              &:after {
                content: "SEARCH";
                position: absolute;
                top: 0;
                left: 1em;
                color: $white;
                font-size: 1.4em;
                font-weight: 700;
                line-height: 46px;
                pointer-events: none;
              }
            }
            .gsc-search-button-v2 {
              display: block;
              position: relative;
              padding: 24px 50px;
              margin: 0;
              border: none;
              border-radius: 0;
              @include square(13px);
            }
          }
          // Google search CSS END
        }
        &.active {
          .mune-title {
            background-color: nth($grays, 6);
            .icon {
              background-color: nth($aqua, 1);
            }
            .en {
              display: none;
            }
            .zh {
              display: block;
            }
          }
          .overlay {
            display: block;
            margin: 0;
            right: 0;
            left: $navigationWidth + $navigationSidebar;
            @extend .overlay-set;
            .collapse & {
              left: $navigationSidebar;
            }
            @media screen and (max-width: $screen-phone) {
              left: $navigationSidebar;
            }
          }
          .search-box {
            display: block;
          }
        }
        #search {
          &:checked {
            & ~ .mune-title {
              background-color: nth($grays, 6);
              .icon {
                background-color: nth($aqua, 1);
              }
              .en {
                display: none;
              }
              .zh {
                display: block;
              }
            }
            & ~ .overlay {
              display: block;
              left: $navigationWidth + $navigationSidebar;
              @extend .overlay-set;
              right: 0;
              .collapse & {
                left: $navigationSidebar;
              }
              @media screen and (max-width: $screen-phone) {
                left: $navigationSidebar;
              }
            }
            & ~ .search-box {
              display: block;
            }
          }
        }
        @media screen and (max-width: $screen-phone) {
          .search-box {
            width: 320 - $navigationSidebar;
            input[type="text"] {
              width: 203px;
              font-size: 0.75em;
            }
            button {
              width: 70px;
              font-size: 0.75em;
            }
          }
        }
      }
    }
    .social {
      position: absolute;
      bottom: 0;
      width: $navigationWidth;
      border-top: 1px solid nth($grays, 5);
      .social-mune {
        height: $navigationSidebar;
        margin: 0;
        @include clearfix();
        li {
          float: left;
          width: $navigationWidth / 3;
          padding: 0;
          & + li {
            border-left: 1px solid nth($grays, 5);
          }
          &:hover {
            a {
              color: $white;
              background-color: nth($grays, 2);
            }
          }
        }
        a {
          display: block;
          height: 48px;
          line-height: 48px;
          text-align: center;
          font-size: 1.2em;
          color: nth($grays, 2);
        }
      }
    }
    @media screen and (max-width: $screen-phone) {
      left: ($navigationWidth - $navigationSidebar) * -1;
      padding-top: 120px;
    }
    .collapse & {
      left: ($navigationWidth - $navigationSidebar) * -1;
    }
  }
  .nav-sub {
    position: relative;
    left: 0;
    z-index: 0;
    @include size($navigationWidth + $navigationSidebar, 100%);
    @include transition(left 0.4s ease-in-out);
    .nav-sub-item {
      position: absolute;
      top: 0;
      left: -100%;
      bottom: 0;
      width: $navigationWidth + $navigationSidebar;
      overflow: hidden;
      background-color: nth($grays, 6);
      z-index: 1;
      @include transition(left 0.4s ease-in-out);
      @media screen and (max-width: $screen-phone) {
        width: 320 - $navigationSidebar;
      }
      &#collections,
      &#case-study,
      &#blog {
        &.active {
          left: 100%;
          z-index: 2;
          & ~ .overlay {
            display: block;
            @extend .overlay-set;
            a {
              display: block;
              cursor: default;
              @include size(100%, 100%);
            }
          }
        }
      }
      .nav-sub-scroll-zone {
        position: absolute;
        overflow: hidden;
        top: 60px;
        bottom: 5px;
      }
      .nav-sub-item-inner {
        padding: 1.44em 1.44em 0;
        // height: 1500px;
      }
      .mune-sub-close {
        position: absolute;
        top: 0.5em;
        right: 0.6em;
        font-size: 1.3em;
        color: nth($grays, 3);
        cursor: pointer;
        &:hover {
          color: nth($grays, 1);
        }
      }
      .mune-sub-title {
        position: relative;
        margin-top: 1.67em;
        margin-bottom: 1.13em;
        line-height: 0.85em;
        padding: 0 0.96em;
        font-size: 1.5em;
        font-weight: 300;
        text-transform: uppercase;
        background-color: nth($grays, 6);
        color: nth($grays, 3);
        white-space: nowrap;
        z-index: 1;
        &:after {
          content: '';
          position: absolute;
          right: 0.96em;
          bottom: -1.13em;
          left: 0.96em;
          height: 1.13em;
          @include gradient-vertical(nth($grays, 6), rgba(nth($grays, 6), 0));
        }
      }
      .tag-list {
        margin: 0 0 3em;
        font-size: 0.75em;
        &.active {
          .tag-item:nth-child(n+11) {
            display: inline-block;
          }
        }
        ul {
          margin-left: 0;
        }
        .tag-item {
          padding: 0;
          line-height: 2.5em;
          a {
            padding: 3px 5px;
            color: nth($grays, 4);
            border: 1px solid nth($grays, 4);
            &:hover {
              color: $white;
              border: 1px solid nth($grays, 2);
              background-color: nth($grays, 2);
            }
          }
          &:nth-child(n+11) {
            display: none;
          }
        }
        .more {
          color: $brand-primary;
          cursor: pointer;
        }
      }
      .mune-sub-item {
        font-size: 0.85em;
        line-height: 2em;
        a {
          color: nth($grays, 3);
          &:hover {
            color: nth($brand-primary, 1);
          }
        }
      }
      li {
        a {
          white-space: nowrap;
        }
      }
    }
    @media screen and (max-width: $screen-phone) {
      left: $navigationWidth * -1;
    }
    .collapse & {
      left: $navigationWidth * -1;
    }
  }
}