@import "libary/bootstrap/mixins";
@import "backsite/modules/mixins";
@import "frontsite/modules/setting";
@import "frontsite/modules/type";
.main-wrap {
  @extend .border-bottom;
  .map {
    #map {
      @include square(100%);
    }
    .map-bottom-bar {
      position: absolute;
      bottom: 0;
      padding: 1em;
      color: $white;
      font-family: $font-family-sans-serif;
      background-color: rgba(nth($grays, 1), 0.6);
      @include size(100%, auto);
      @include clearfix();
      .map-message {
        float: left;
        line-height: 54px;
        font-size: 1.5em;
        font-weight: 700;
      }
      .map-info {
        float: right;
        margin: 0;
        font-size: 0.75em;
      }
      &:before {
        content: '';
        position: absolute;
        top: -20px;
        @include arrow("bottom", 20px, 20px, rgba(nth($grays, 1), 0.6));
      }
    }
    @media screen and (max-width: $screen-desktop) {
      height: 400px !important;
    }
  }
  .content-inner {
    padding: 1em 2em;
    .content-title {
      font-size: 2.25em;
      margin-top: 3em;
      margin-bottom: 1.5em;
    }
    .ask-list {
      border-top: 1px solid nth($grays, 5);
      p {
        margin: 0.5em 0 1em;
        font-size: 0.94em;
        color: nth($grays, 4);
      }
      li {
        position: relative;
        margin-bottom: 0.6em;
        padding-right: 1.5em;
        line-height: 1.1em;
        .cancel {
          position: absolute;
          top: 0;
          right: 0;
          color: nth($grays, 4);
          cursor: pointer;
          &:hover {
            color: $brand-danger;
          }
        }
      }
      a {
        color: nth($grays, 1);
      }
    }
  }
}