@import "libary/bootstrap/mixins";
@import "backsite/modules/mixins";
@import "frontsite/modules/setting";
@import "frontsite/unit/top-nav";
@mixin nthOfType() {
  &:nth-of-type(even) {
    padding-left: 0.5em;
  }
  &:nth-of-type(odd) {
    padding-right: 0.5em;
  }
}

.show {
  .content {
    padding: 3em 1em;
    .content-main {
      margin-bottom: 2em;
    }
    .content-header {
      margin: 0;
      font-size: 0.75em;
      color: nth($grays, 3);
      span {
        display: inline-block;
        margin-right: 0.5em;
        font-weight: 700;
        &.content-date {
          font-style: italic;
          font-weight: 300;
        }
      }
    }
    .content-title {
      margin: 0 0 2em;
      font-size: 1.5em;
    }
    .content-depiction {
      padding-bottom: 3em;
    }
    .content-specs {
      width: 100%;
      color: nth($grays, 3);
      text-align: left;
      font-size: 0.75em;
      border-top: 1px solid nth($grays, 5);
      tr:first-child {
        th, td {
          padding-top: 1em;
        }
      }
      th, td {
        padding: 0.3em 0 0;
      }
      i {
        color: $brand-primary;
      }
    }
  }
  &.show-blog {
    .content {
      padding: 0;
    }
    .content-top {
      text-align: right;
    }
    .content-top-inner {
      display: inline-block;
      padding: 2em 1em;
      text-align: left;
      background-color: rgba(nth($aqua, 2), .4);
      @include size(33.33%, 280px);
      & > h1 {
        margin: 0;
        font-size: 1.5em;
        color: $white;
      }
    }
    .content-header {
      margin: 0 0 0.5em;
      color: $white;
    }
  }
  .askbnt {
    margin-bottom: 3em;
  }
  aside {
    .aside-block {
      margin-bottom: 2em;
      .aside-title {
        margin: 0 0 0.5em;
        padding-top: 0.5em;
        color: nth($grays, 3);
        font-size: 0.88em;
        font-weight: 700;
        border-top: 1px solid nth($grays, 5);
      }
      &.tag {
        li {
          padding: 0;
        }
        a {
          display: block;
          padding: 0 0.5em;
          font-size: 0.75em;
          line-height: 1.5em;
          color: nth($grays, 3);
          border: 1px solid nth($grays, 3);
          &:hover {
            color: $white;
            border-color: $brand-primary;
            background-color: $brand-primary;
          }
        }
      }
      &.share {
        li {
          margin-right: -4px;
          line-height: 2em;
          text-align: center;
          @include square(2em);
          &.fb {
            background-color: nth($blueJeans, 1);
            &:hover {
              background-color: nth($blueJeans, 2);
            }
          }
          &.twitter {
            background-color: nth($aqua, 1);
            &:hover {
              background-color: nth($aqua, 2);
            }
          }
          &.gplus {
            background-color: nth($grapeFruit, 1);
            &:hover {
              background-color: nth($grapeFruit, 2);
            }
          }
          a {
            display: block;
            color: $white;
          }
        }
      }
      &.related {
        li {
          padding: 0;
          margin-bottom: 1em;
          @media screen and (min-width: $screen-tablet) {
            @include nthOfType();
          }
        }
        .related-item {
          @include clearfix();
        }
        .related-info {
          font-size: 0.75em;
          line-height: 1em;
          p {
            margin: 0;
          }
          .related-header {
            margin-bottom: 0.3em;
            span {
              display: block;
              line-height: 1.2em;
              font-weight: 700;
              @include text-overflow();
              &:first-child {
                margin-bottom: 0.3em;
              }
              &.related-header-date {
                font-weight: 300;
              }
            }
          }
          .related-title {
            max-height: 3.1em;
            overflow: hidden;
            font-weight: 700;
          }
        }
        .related-image {
          float: left;
          margin-right: 1em;
          @include square(5em);
        }
      }
    }
    @media screen and (min-width: $screen-tablet) {
      .col-6 {
        @include nthOfType();
      }
    }
  }
  .pagenavi {
    margin: 0 -1em;
    border-style: solid;
    border-color: nth($grays, 5);
    border-width: 1px 0;
    a {
      display: inline-block;
      padding: 0 0.8em;
      line-height: 4.5em;
      color: nth($grays, 2);
      @include size(50%, 4.5em);
      & + a {
        text-align: right;
        border-left: 1px solid nth($grays, 5);
      }
      &:hover {
        color: nth($grays, 1);
      }
    }
  }
  .image {
    background-color: nth($grays, 5);
    img {
      display: block;
      @include square(100%);
    }
  }
}